# Виртуальное окружение
venv/
.env/

# Python кэш
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
.webassets-cache

# Логи
*.log

# IDE
.vscode/
.idea/

# ОС
.DS_Store
Thumbs.db

# Переменные окружения
.env